<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.background-image]="'url(assets/angular-logo.png)'"></div>
    <mat-card-title>Single SPA</mat-card-title>
    <mat-card-subtitle>Angular CLI demonstration</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/toulouse-france.jpg" alt="Toulouse France">
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="/route1">Route1</a>
    <a mat-raised-button routerLink="/route2">Route2 (lazy)</a>
    <a mat-raised-button color="primary" (click)="navigate('/app1/', $event)">App1 (other cli app)</a>
  </mat-card-actions>
</mat-card>