mat-toolbar {
    .spacer {
        flex: 1 1 auto;
    }
    
    a {
        color: white;
        padding: 0 1rem;
        height: 2rem;
    }
    
    mat-icon {
        font-size: 2rem;
    }   
}