menu-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

home-root,
app1-root {
    margin-top: 70px;
    display: block;
}

help-root {
    border-top: 3px solid grey;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
}